#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #8061ff;
  z-index: 1000;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  .icon {
    font-size: 40px;
    vertical-align: -12px;
    margin-right: 6px;
    color: #fff;
  }
}
.search {
  width: calc(100% - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  label {
    position: absolute;
    left: 4%;
    top: 10px;
    z-index: 10;
    width: 20px;
    height: 20px;
    color: #000;
  }
  input {
    text-align: center;
    width: 95%;
    padding: 10px 20px;
    border: 0;
    border-radius: 50px;
    &::-webkit-input-placeholder {
      color: #8061ff;
    }
  }
}

@media (max-width: 800px) {
  #header {
    flex-direction: column;
    .logo {
      width: 100%;
      font-size: 22px;
      .icon {
        font-size: 38px;
      }
    }
    .search {
      width: 100%;
      width: 100%;
      padding-bottom: 15px;
      input {
        width: 90%;
        margin-left: 5%;
      }
    }
  }
}
